.movie_wrapper
{
  margin: 20px 0px;
  text-align: center;
}

.movie_wrapper > iframe
{
  width: 400px;
  height: 600px;
}

@media screen and (max-width: 500px) { 
  .movie_wrapper > iframe
  {
    width: 100%;
    height: 400px;
  }
}
